[user]
	name = jmiv-eng
	email = github@jmiv.dev
[core]
	editor = nvim
	excludesFile = /home/jmichael/.config/.global_gitignore
[init]
	defaultBranch = main
[credential]
	helper = cache --timeout=3600
[url "git@github.com:"]
	insteadOf = https://github.com/
[pull]
	rebase = false
[push]
	default = current
	autoSetupRemote = true
[branch]
	autoSetupMerge = always
