[user]
	name = jmiv-eng
	email = github@jmiv.dev
[core]
	editor = nvim
[init]
	defaultBranch = main
[credential]
	helper = cache --timeout=3600
[color]
	ui = auto
[pull]
	rebase = true
[push]
	default = current
	autoSetupRemote = true
[branch]
	autoSetupMerge = always
