[user]
	name = jmiv-eng
	email = github@jmiv.dev
[core]
	editor = nvim
[init]
	defaultBranch = main
[credential]
	helper = store
[color]
	ui = auto
[pull]
	rebase = false
[push]
	default = current
	autoSetupRemote = true
[branch]
	autoSetupMerge = always
[url "git@github.com:the-real-vutility"]
	insteadOf = https://github.com/the-real-vutility
